.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app .title {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: #135640;
}

.app .forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
